<script>
     #include("/js/release-helper.js")
</script>
<div class="aui-tabs horizontal-tabs">
    <table class="aui">
        <caption>Список задач</caption>
        <thead>
        <tr>
            <th id="mr-number">№ тикета</th>
            <th id="mr-url">Ссылка на МР</th>
            <th id="mr-status">Статус</th>
        </tr>
        </thead>
        <tbody>
            #foreach($mergeRequest in $mergeRequests)
            <tr>
                <td headers="mr-number"><a href="$host/browse/$mergeRequest.number" target="_blank">$mergeRequest.number</a></td>
                <td headers="mr-url">
                    #if( $mergeRequest.url != "null" )
                        <a href="$mergeRequest.url" target="_blank">$mergeRequest.url</a>
                    #else
                        Не указана ссылка
                    #end
                </td>
                <td headers="mr-status">
                    #if( $mergeRequest.status == "Ok" )
                        <img src="/jira/images/icons/emoticons/check.gif" alt="Ok">
                    #else
                        <img src="/jira/images/icons/emoticons/error.gif" alt="Error" title="$mergeRequest.status">
                    #end
                </td>
            </tr>
            #end
        </tbody>
    </table>
</div>